/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
    /*background-color:red !important;*/
}

label {
    font-size: 1rem !important;
    color: black !important;
}

.card {
    background-color: #9cebf3 !important;
}

.icon-block {
    padding: 0 15px;
}

    .icon-block .material-icons {
        font-size: inherit;
    }

.pt-6 {
    padding-top: 60px;
}

/*REBOOT*/
.collapsible-header span {
    color: gray;
}
.collapsible-body {
    padding: 5px !important;
    cursor: pointer;
}
.collapsible-body span:hover {
    font-weight: bold;
}
.pt-10 {
    padding-top: 10px;
}

