@page
@model colafix_pwa.Pages.CheckOutModel
@{
    
}

<div id="cartData" class="pt-6"></div>

@section Scripts
{
    <script src="js/cart.js"></script>
    <script>
        $(document).ready(function () {
            ShowCurrentCli();
            ShowCart();
            document.getElementById('cartIcon').style.display = 'none';
            document.getElementById('finishIcon').style.display = 'block';

        });
        
        var currencyInput = document.querySelector('input[type="currency"]');
        var currency = 'R$'; // https://www.currency-iso.org/dam/downloads/lists/list_one.xml

        //currencyInput.addEventListener('focus', onFocus);
        //currencyInput.addEventListener('blur', onBlur);

        function localStringToNumber( s ){
            return Number(String(s).replace(/[^0-9.-]+/g,""));
        }

        function onFocus(e) {
            const value = e.target.value;
            e.target.value = value ? localStringToNumber(value) : '';
        }

        function onBlur(e){
            const value = e.target.value;
            const options = {
                maximumFractionDigits : 2,
                currency              : currency,
                style                 : "currency",
                currencyDisplay       : "symbol"
            }
            e.target.value = value
                ? localStringToNumber(value).toLocaleString(undefined, options)
                : '';
        }
    </script>
}