@page
@model colafix_pwa.Pages.CheckOutModel
@{

}
    <div class="row pt-6">
        <div id="cartData"></div>
    </div>
@section Scripts
{
    <script src="js/cart.js"></script>
    <script>
        $(document).ready(function () {
            ShowCurrentCli();
            ShowCart();
            BuildEmpresa();
            BuildTransacao();
            BuildLocalCobranca();
            document.getElementById('cartIcon').style.display = 'none';
            document.getElementById('finishIcon').style.display = 'block';
            $('#empFaturamento').formSelect();
            $('#tipoTransacao').formSelect();
            $('#localCobranca').formSelect();
            $('#tipoFrete').formSelect();
            $('#empFaturamento option:nth-child(1)').prop("selected", true);
            $('#tipoTransacao option:nth-child(1)').prop("selected", true);
            $('#localCobranca option:nth-child(1)').prop("selected", true);
            $('#tipoFrete option:nth-child(1)').prop("selected", true);

        });

        var currencyInput = document.querySelector('input[type="currency"]');
        var currency = 'R$'; // https://www.currency-iso.org/dam/downloads/lists/list_one.xml

        //currencyInput.addEventListener('focus', onFocus);
        //currencyInput.addEventListener('blur', onBlur);

        function localStringToNumber(s) {
            return Number(String(s).replace(/[^0-9.-]+/g, ""));
        }

        function onFocus(e) {
            const value = e.target.value;
            e.target.value = value ? localStringToNumber(value) : '';
        }

        function onBlur(e) {
            const value = e.target.value;
            const options = {
                maximumFractionDigits: 2,
                currency: currency,
                style: "currency",
                currencyDisplay: "symbol"
            }
            e.target.value = value
                ? localStringToNumber(value).toLocaleString(undefined, options)
                : '';
        }
    </script>
}
